/*搜索框*/
.search-bar{
    background-color: #ff6633;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 7%;
    align-items: center;
    padding: 0 8px;
}
.header-icon{
    /*width: 2%;*/
    font-size: 14px;
}
.search-input{
    width: 70%;
}
.type-list {
    height: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.type-box{
    width: 17%;
    text-align: center;
}
.type-box img {
    width: 100%;
}
.type-text{
    color: #111;
    font-size: 10px;
    margin-top: -8px;
    margin-bottom: 10px;
}

