VITE_API_BASE_URL=/app-dev-api

# File service
VITE_MINIO_URL=http://127.0.0.1
VITE_MINIO_PORT=9000
VITE_FILE_PREFIX=/smart-live
# Optional: if set, it overrides VITE_MINIO_URL + VITE_MINIO_PORT + VITE_FILE_PREFIX
# VITE_FILE_URL=http://127.0.0.1:9000/smart-live

# WebSocket
VITE_WS_HOST=localhost
# Optional: if set, it overrides VITE_WS_HOST
# VITE_WS_URL=ws://localhost:8888/ws

# Map
# VITE_AMAP_KEY=your_amap_key
